{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register/style.css' %}">
    <title>forget password</title>
</head>

<body>

    <div class="forget-password">
        <form class="form" method="POST" action="{% url 'password_reset' %}" novalidate="" autocomplete="off">
            {% csrf_token %}
            <div class="logo">
                <img src="{% static 'images/logoquintus.png' %}" alt="logo" class="logo-pic">
            </div>
            <h3>E-Mail Address</h3>
            <input type="email" placeholder="enter your email" class="email" name="email" value="" required autofocus/>
            <button type="submit">Send Link</button>
        </form>
    </div>  

</body>

</html>