{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register/style.css' %}">
    <title>new password</title>
</head>

<body>

    <div class="login-page">
        <form class="form" method="POST" novalidate="" autocomplete="off">
            {% csrf_token %}
                <div class="logo">
                    <img src="{% static 'images/logoquintus.png' %}" alt="logo" class="logo-pic">
                </div>
                <h3>forget password</h3>
                
                <label for="pwd">New password</label><br>
                <input type="password" class="password" name="new_password1" value="" required autofocus onkeydown="passwordValidation()" />
                <span class="password-validation">Must Contain 8 Character (Min)</span>

                <label for="pwd">New password confirmation</label><br>
                <input type="password" class="confirmpassword" name="new_password2" value="" required autofocus/>
                <span class="confirmpassword-validation">Does not match the entered password</span>

                <button type="submit">submit</button>
        </form>
    </div>

   

</body>

</html>