{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register/style.css' %}">
    <title>forget password</title>
</head>

<body>

    <div class="password-sent">
        <div class="password-sent-box">
        
            <h2>forget password</h2>
            <p>Your password has been set. You may go ahead and log in now.</p>
            <a href="{% url 'accounts:login' %}" class="login-message">Login</a>
        </div>
    </div>


</body>

</html>