{% extends 'base.html'%}
{% load static %}			
{% block content %}	

	<!-- STARTING PRIMARY / PAGE CONTENT -->
	<div id="primary" class="no-padding content-area no-sidebar">
		<main id="main" class="col-md-12 site-main main-content">                      


			<!-- SECTION: CONTACT -->
			<div class="row section-dark high-padding" >
				<div class="gambit_background_row mt_about_style section-coloredbg-semitransparent_gray" data-zindex="-1">
				</div>
				<div class="gambit_parallax_row" data-bg-align="" data-direction="down" data-opacity="100" data-velocity="-0.3" data-mobile-enabled="" data-bg-height="1200" data-bg-width="1920" data-bg-image="{% static 'images/blog_post-3.jpg' %}" data-bg-repeat="false" data-zindex="-2">
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-12">
							<div class="column-inner ">

								<!-- BLOCK: TITLE/SUBTITLE -->
								<div class="title-subtile-holder">
									<h1 class="section-title light_title">
										<b>DO YOU HAVE A QUESTION?</b>
									</h1>
									<div class="section-subtitle light_subtitle mt_fond_bold">
										<h4>YOU KNOW YOU CAN ASK US EVERYTHING</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					

					<!-- CONTACT DETAILS / ABOVE CONTACT FORM -->
					<div class="row">
						<div class="col-sm-3 col-md-3">
							<h4 class="custom_heading text-center light-heading mt_fond_bold">ADDRESS</h4>
							<p class="text-center light-paragraph">29 Avenue St. Los Angeles, USA</p>
						</div>
						<div class="col-sm-3 col-md-3">
							<h4 class="custom_heading text-center light-heading mt_fond_bold">PHONE</h4>
							<p class="text-center light-paragraph">+123 456 789</p>
						</div>
						<div class="col-sm-3 col-md-3">
							<h4 class="custom_heading text-center light-heading mt_fond_bold">EMAIL</h4>
							<p class="text-center light-paragraph"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1d7e7273697c7e695d78657c706d7178337e7270">[email&#160;protected]</a></p>
						</div>
						<div class="col-sm-3 col-md-3">
							<h4 class="custom_heading text-center light-heading mt_fond_bold">SOCIAL</h4>
							<div class="sidebar-social-networks social-networks widget_social_icons row" data-animate="pulse">
								<ul class="col-md-12 text-center">
									<li>
										<a href="#">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus">
											</i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<form method="POST" action="php/contact_mail.php" class="container wow fadeInUp animated mt_contact_animated" id="contact01_form" novalidate="novalidate">
						<div class="content mt_margin_left_30_negativ mt_margin_right_0 mt_contact_align_center row">
							<div class="col-md-6 first_set_inputs">
								<div class="first_name_input">
									<span class="input input--kohana">
										<label for="input-4" class="input__label input__label--kohana">
											<i class="fa fa-user icon icon--kohana"></i>
											<span class="input__label-content input__label-content--kohana light-paragraph">First Name</span>
										</label>
										<input autocomplete="off" type="text" id="user_first_name" placeholder = 'First-name:' class="input__field textarea__field input__field--kohana textarea__field--kohana focus-me" name="user_first_name">
									</span>
								</div>
								<div class="last_name_input">
									<span class="input input--kohana">
										<label for="input-8" class="input__label input__label--kohana">
											<i class="fa fa fa-user icon icon--kohana"></i>
											<span class="input__label-content input__label-content--kohana light-paragraph">Last Name</span>
										</label>
										<input autocomplete="off" type="text" id="user_last_name" placeholder = 'Last-name:' class="input__field textarea__field input__field--kohana textarea__field--kohana focus-me" name="user_last_name">
									</span>
								</div>
							</div>
							<div class="col-md-6 first_set_inputs">
								<div class="email_input">
									<span class="input input--kohana">
										<label for="input-5" class="input__label input__label--kohana">
											<i class="fa fa-envelope icon icon--kohana"></i>
											<span class="input__label-content input__label-content--kohana light-paragraph">Email Address</span>
										</label>
										<input autocomplete="off" type="email" id="user_email" placeholder = 'Email:' class="input__field textarea__field input__field--kohana textarea__field--kohana focus-me" name="user_email">
									</span>
								</div>
								<div class="subject_input">
									<span class="input input--kohana">
										<label for="input-6" class="input__label input__label--kohana">
											<i class="fa fa-pencil-square-o icon icon--kohana"></i>
											<span class="input__label-content input__label-content--kohana light-paragraph">Subject</span>
										</label>
										<input autocomplete="off" type="text" id="user_subject" placeholder = 'Subject:' class="input__field textarea__field input__field--kohana textarea__field--kohana focus-me" name="user_subject">
									</span>
								</div>
							</div>
							<div class="col-md-12 second_set_inputs">
								<div class="message_input">
									<span class="input input--kohana">
										<label for="input-7" class="input__label textarea__label input__label--kohana textarea__label--kohana">
											<i class="fa fa-comments icon icon--kohana"></i>
											<span class="input__label-content input__label-content--kohana light-paragraph">
											Message</span>
										</label>
										<input autocomplete="off" type="text" id="user_message" placeholder = 'Message:' class="input__field textarea__field input__field--kohana textarea__field--kohana focus-me" name="user_message">
									</span>
								</div>
							</div>
							<div class="col-md-3 contact_button text-center">
								<button name="contact_me" type="submit" class="mt_button_bottom_contact mt_transition_buttons mt_contact_button_align">Contact us</button>
								<p class="success_message">Thank you! We will get back to you as soon as possible!</p>
							</div>
						</div>
					</form>
				</div>
			</div>
		</main>
	</div>

				
	{% endblock %}	