{% extends 'base.html'%}
{% load static %}			
{% block content %}	


		<!-- STARTING PRIMARY / PAGE FIRST CONTENT -->
	<div class="mt_site_slider mt_margin_left_15">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">   
		  <!-- Wrapper for slides -->
		    <div class="carousel-inner">
		 		<div class="item active">
					<img src="{% static 'images/slider1_background.jpg' %}" alt="" class="mt_about_images"/>
					<div class="carousel-caption  flex">
						<div class="carousel-caption-inner align-center">
							<h3>Quintus</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br> incididunt ut labore et dolore magna aliqua.</p>
							<button class="mt_button_first_section mt_fond_bold dark_title mt_transition_buttons">OUR SERVICES</button>
						</div>
					</div>
		    	</div>

		    	<div class="item">
		 	     	<img src="{% static 'images/Slide3_Bg-1.jpg' %}" alt="" class="mt_about_images"/>
					<div class="carousel-caption flex">
						<div class="carousel-caption-inner align-center">
							<h3>Los Angeles</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br> incididunt ut labore et dolore magna aliqua.</p>
							<button class="mt_button_first_section mt_fond_bold mt_transition_buttons">OUR SERVICES</button>
						</div>
					</div>
		    	</div>

		    	<div class="item mt_white_style">
		     		<img src="{% static 'images/slider3_background.jpg' %}" alt="" class="mt_about_images"/>
					<div class="carousel-caption flex">
						<div class="carousel-caption-inner align-center">
							<h3>Los Angeles</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br> incididunt ut labore et dolore magna aliqua.</p>
			    			<button class="mt_button_first_section mt_fond_bold mt_transition_buttons">OUR SERVICES</button>
						</div>
					</div>
		    	</div>
		    </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left my_white_color"></span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right my_white_color"></span>
		  </a>
		</div>
	</div>





	<!-- STARTING PRIMARY / PAGE CONTENT -->
	<div id="primary" class="no-padding content-area no-sidebar">
		<main id="main" class="col-md-12 site-main main-content">                        

			<!-- SECTION: OUR SERVICES FIRST -->
			<div class="clearfix"></div>
			<div class="row high-padding section-coloredbg-semitransparent">
				<div class="container mt_padding_top_15">
					<div class="col-sm-4 col-md-4 text-center">
						<img class="single_image-img" src="{% static 'images/industrial_nasa-1-100x100.png' %}" width="100" height="100" alt="industrial_factory" title="industrial_factory" />
						<h4 class="custom_heading light-heading mt_fond_bold">SPACE INDUSTRY</h4>
						<p class="light-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<img class="single_image-img" src="{% static 'images/industrial_depository-1-100x100.png' %}" width="100" height="100" alt="industrial_factory" title="industrial_factory" />
						<h4 class="custom_heading light-heading mt_fond_bold">STORAGE FACTORY</h4>
						<p class="light-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<img class="single_image-img" src="{% static 'images/industrial_extracting-1-100x100.png' %}" width="100" height="100" alt="industrial_factory" title="industrial_factory" />
						<h4 class="custom_heading light-heading mt_fond_bold">EXTRACTIVE INDUSTRY</h4>
						<p class="light-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</div>
				</div>
			</div>


			<!-- SECTION: ABOUT -->
			<div class="clearfix"></div>
			<div class="row section-light section-about flex ">
				<div class="container col-sm-12 col-md-12 col-sm-6 col-md-6 align-center">
					<div class="row mt_align_text_about_quintus">
						<div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 block-about">
							<h1 class="custom_heading text-left dark-heading mt_fond_bold">ABOUT QUINTUS</h1>
							<p class="dark-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
							<div class="mt_spacer mt_spacer_15"></div>
							<a href="{% url 'website:about' %}" class="btn btn-info mt-btn-custom mt_button mt_transition_buttons" role="button">ABOUT US</a>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-sm-6 col-md-6 mt_padding_left mt_left_15">
					<div class="row mt_full_size mt_pic_1">
						<img class="size-full aligncenter mt_about_images mt_full_size mt_margin_left_15" src="{% static 'images/quintus_pic1.jpg' %}" width="1920" height="1024" alt="" />
					</div>
				</div>
			</div>
			

			<!-- SECTION: SKILLS PROGRESS BARS -->
			<div class="clearfix"></div>
			<div class="row background_orange">
				<div class="row flex mt_no_mobile_flex">
					<div class="post-deflextails col-md-6 mt_padding_right_0 mt_left_15">
						<div class="row mt_full_size">
							<img class="aligncenter size-full mt_about_images mt_full_size mt_test mt_margin_left_15" src="{% static 'images/quintus_pic2.jpg' %}" width="1920" height="1024" alt="" />
						</div>
					</div>
					<div class="col-md-6 align-center">
						<div class="post-details col-md-9 padding_bar mt_padder_left_80">
							<h3 class="custom_heading text-left light-heading no-margin-top">CERTIFIED RESOURCES</h3>
							<div class="progress">
								<div class="progress-bar mt_width_70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
							    	<span class="sr-only">70% Complete</span>
							  	</div>
							</div> 
							
							<h3 class="custom_heading text-left light-heading ">SATISFIED CLIENTS</h3>
							<div class="progress">
							    <div class="progress-bar mt_width_95 " role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
									<span class="sr-only">95% Complete</span>
							    </div>
							</div> 

							<h3 class="custom_heading text-left light-heading">PROFIT GROWTH PER YEAR</h3>
							<div class="progress">
								<div class="progress-bar mt_width_85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
									<span class="sr-only">85% Complete</span>
							</div>
							</div> 
						</div>
					</div>
				</div>
			</div>


			<!-- asfd -->
			<!-- SECTION: PRICING TABLES -->
			<div class="clearfix"></div>
			<section id="parallax_pricing" class="parallax">
				<div class="row high-padding">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="pricing-section wow bounce">
									<div class="pricing pricing--pema">
										<div class="pricing__item pricing__item--nofeatured">
											<h3 class="pricing__title">Starter Package</h3>							
											<p class="pricing__sentence">Start Deal</p>
											<div class="pricing__price mt_font_size_50">
													<span class="pricing__currency">$</span><span>99</span>
													<span class="pricing__period">/ month</span>
											</div>
											<ul class="pricing__feature-list">
												<li class="pricing__feature">
													<i class="icon-bubble icons"></i>Machine installation
												</li>
												<li class="pricing__feature">
													<i class="icon-support icons"></i>Control systems
												</li>
												<li class="pricing__feature">
													<i class="icon-pie-chart icons"></i>Maintence
												</li>
												<li class="pricing__feature">
													<i class="icon-bulb icons"></i>Insurance
												</li>
											</ul>
											<a class="pricing__action" href="#">GET STARTED</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="pricing-section wow bounce">
									<div class="pricing pricing--pema">
										<div class="pricing__item pricing__item--nofeatured">
											<h3 class="pricing__title">PRO Package</h3>							
											<p class="pricing__sentence">Best Deal</p>
											<div class="pricing__price mt_font_size_52">
												<span class="pricing__currency">$</span>149
												<span class="pricing__period">/ month</span>
											</div>
											<ul class="pricing__feature-list">
												<li class="pricing__feature">
													<i class="icon-bubble icons"></i>Machine &amp; cable installation
												</li>
												<li class="pricing__feature">
													<i class="icon-support icons"></i>Control &amp; testing systems
												</li>
												<li class="pricing__feature">
													<i class="icon-pie-chart icons"></i>Maintence
												</li>
												<li class="pricing__feature">
													<i class="icon-bulb icons"></i>Insurance
												</li>
											</ul>
											<a class="pricing__action" href="#">GET STARTED</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="pricing-section wow bounce">
									<div class="pricing pricing--pema">
										<div class="pricing__item pricing__item--nofeatured">
											<h3 class="pricing__title">Business Package</h3>
											<p class="pricing__sentence">Business Package</p>
											<div class="pricing__price mt_font_size_52">
												<span class="pricing__currency">$</span>199
												<span class="pricing__period">/ month</span>
											</div>
											<ul class="pricing__feature-list">
												<li class="pricing__feature">
													<i class="icon-bubble icons"></i>Machine &amp; cable installation
												</li>
												<li class="pricing__feature">
													<i class="icon-support icons"></i>Control &amp; testing systems
												</li>
												<li class="pricing__feature">
													<i class="icon-pie-chart icons"></i>Maintence &amp; repairs
												</li>
												<li class="pricing__feature">
													<i class="icon-bulb icons"></i>Unlimited insurence
												</li>
											</ul>
											<a class="pricing__action" href="#">GET STARTED</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>	
				

			<!-- SECTION: COMPLEX FEATURES -->
			<div class="clearfix"></div>
			<div class="row high-padding section-light">
				<div class="container">
					<div class="col-sm-12 col-md-12">
						<!-- BLOCK: TITLE/SUBTITLE -->
						<div class="title-subtile-holder">
							<h1 class="section-title dark_title mt_fond_bold">FEATURE</h1>
							<!-- <div class="section-border dark_border"></div> -->
							<div class="section-subtitle dark_title mt_fond_bold">
								<h4>FEATURE AND SKILLS</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3 col-md-3">
								<img class="aligncenter" width="100" src="{% static 'images/industrial_car_service.png' %}" alt="" />
								<h3 class="section-title dark_title mt_fond_bold">Car Industry</h3>
								<p class="text-center dark-paragraph">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
								<div class="mt_spacer mt_spacer_30"></div>
								<img class="aligncenter" width="100" src="{% static 'images/industrial_port.png' %}" alt="" />
								<h3 class="custom_heading text-center dark-heading mt_fond_bold">Harbor Industry</h3>
								<p class="text-center dark-paragraph">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
							</div>
							<div class="col-sm-6 col-md-6">
								<img class="aligncenter" src="{% static 'images/mt_quintus_image1.png' %}" alt="" width="413" />
							</div>
							<div class="col-sm-3 col-md-3">
								<img class="aligncenter" width="100" src="{% static 'images/industrial_electricity.png' %}" alt="" />
								<h3 class="section-title dark_title mt_fond_bold">Electric Industry</h3>
								<p class="text-center dark-paragraph">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
								
								<div class="mt_spacer mt_spacer_30"></div>

								<img class="aligncenter" width="100" src="{% static 'images/industrial_chimic.png' %}" alt="" />
								<h3 class="custom_heading text-center dark-heading mt_fond_bold">Chimic Industry</h3>
								<p class="text-center dark-paragraph">Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		

			<!-- SECTION: OUR SERVICES -->
			<div class="clearfix"></div>
			<div class="row high-padding section-blackbg-semitransparent">
				<div class="container">
					<div class="col-sm-4 col-md-4 text-center">
						<img class="single_image-img" src="{% static 'images/industrial_factory-100x100.png' %}" width="100" height="100" alt="industrial_factory" title="industrial_factory" />
						<h4 class="custom_heading light-heading mt_fond_bold">INDUSTRIAL FACTORY</h4>
						<p class="light-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<img class="single_image-img" src="{% static 'images/industrial_cargo-100x100.png' %}" width="100" height="100" alt="industrial_factory" title="industrial_factory" />
						<h4 class="custom_heading light-heading mt_fond_bold">NAVAL INDUSTRY</h4>
						<p class="light-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</div>
					<div class="col-sm-4 col-md-4 text-center">
						<img class="single_image-img" src="{% static 'images/industrial_delivery-100x100.png' %}" width="100" height="100" alt="industrial_factory" title="industrial_factory" />
						<h4 class="custom_heading light-heading mt_fond_bold">DISTRIBUTOR INDUSTRY</h4>
						<p class="light-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</div>
				</div>
			</div>
		

			<!-- SECTION: CLIENTS -->
			<div class="clearfix"></div>
			<section id="parallax_clients" class="parallax_clients">
				<div class="row medium-padding section-coloredbg-semitransparent">
					<div class="container  post-details">
						<div class="row">
							<div class="wow fadeInUp mt_clients_slider clients_container_shortcode-4 owl-carousel owl-theme">
								<div class="clients_image_holder post">
									<div class="item col-md-12">
										<div class="clients_image_holder_inside post" >
											<img class="client_image" src="{% static 'images/mt_eagle_client4.png' %}" alt="Client7" />
										</div>
									</div>
								</div>
								<div class="clients_image_holder post">
									<div class="item col-md-12">
										<div class="clients_image_holder_inside post">
											<img class="client_image" src="{% static 'images/mt_eagle_client1.png' %}" alt="Client8" />
										</div>
									</div>
								</div>
								<div class="clients_image_holder post">
									<div class="item col-md-12">
										<div class="clients_image_holder_inside post">
											<img class="client_image" src="{% static 'images/mt_eagle_client3.png' %}" alt="Client6" />
										</div>
									</div>
								</div>
								<div class="clients_image_holder post">
									<div class="item col-md-12">
										<div class="clients_image_holder_inside post">
											<img class="client_image" src="{% static 'images/mt_eagle_client4.png' %}" alt="Client5" />
										</div>
									</div>
								</div>
								<div class="clients_image_holder post">
									<div class="item col-md-12">
										<div class="clients_image_holder_inside post">
											<img class="client_image" src="{% static 'images/mt_eagle_clients.png' %}" alt="Client4" />
										</div>
									</div>
								</div>
								<div class="clients_image_holder post">
									<div class="item col-md-12">
										<div class="clients_image_holder_inside post">
											<img class="client_image" src="{% static 'images/mt_eagle_client1.png' %}" alt="Client3" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			

			{% include 'website/latest-post.html' %}


			<!-- SECTION: CONTACT -->
		</main>
	</div>

				
	{% endblock %}	