{% load static %}
{% load compress static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <title>Quintus - Industry / Factory / Engineering HTML5 Template</title>

	<!-- CSS -->
	{% compress css %}
	<link rel='stylesheet' href="{% static 'css/mt-custom.css' %}" />
	<link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}"  />
	<link rel='stylesheet' href="{% static 'css/simple-line-icons.css' %}"  />
	<link rel='stylesheet' href="{% static 'css/js_composer.min.css' %}" />
	<link rel='stylesheet' href="{% static 'css/shortcodes.css' %}" />
	<link rel='stylesheet' href="{% static 'css/responsive.css' %}" />
	<link rel='stylesheet' href="{% static 'css/media-screens.css' %}" />
	<link rel='stylesheet' href="{% static 'css/owl.carousel.css' %}" />
	<link rel='stylesheet' href="{% static 'css/owl.theme.css' %}" />
	<link rel='stylesheet' href="{% static 'css/animate.css' %}" />
	<link rel='stylesheet' href="{% static 'css/styles-inner.css' %}" />
	<link rel='stylesheet' href="{% static 'css/style.css' %}" />
	<link rel='stylesheet' href="{% static 'css/styles-headers.css' %}" />
	<link rel='stylesheet' href="{% static 'css/styles-footer.css' %}" />
	<link rel='stylesheet' href="{% static 'css/sidebarEffects.css' %}" />
	<link rel='stylesheet' href="{% static 'css/loaders.css' %}" />
	<link rel='stylesheet' href="{% static 'css/js_composer.css' %}" />
	<link rel='stylesheet' href="{% static 'css/animate.min.css' %}" />
	<link rel='stylesheet' href="{% static 'css/custom.css' %}" />
	{% endcompress %}
    <!-- Default color: BLUE -->
    <link rel="stylesheet" href="{% static 'css/skin-color/skin-default.css' %}" />


	<!-- FONTS -->
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic%2Clatin-ext%2Clatin%7CMontserrat%3Aregular%2C700%2Clatin' media='all'   />

	
	<!-- SLIDER SHOW -->
 
</head>
<body class="home page-template-default page page-child is_nav_sticky header1 is_header_semitransparent responsive">
   

	<!-- SEARCH FORM -->
    <div class="fixed-search-overlay">
		<i class="icon-close icons"></i>
		<div class="fixed-search-inside">
			<div class="modeltheme-search">
                <form method="GET" action="#">
					<input class="search-input" placeholder="Enter search term..." type="search" value="" name="s" id="search" />
                    <i class="fa fa-search"></i>
                    <input type="hidden" name="post_type" value="post" />
                </form>
            </div>        
		</div>
    </div>


    <!-- SIDEBAR HEADER -->
    <div class="fixed-sidebar-menu-overlay"></div>
    <div class="relative fixed-sidebar-menu-holder header7">
        <div class="fixed-sidebar-menu">
			<i class="icon-close icons"></i>
            <div class="header7">
                <div class="left-side">
                    <h1 class="logo">Quintus</h1>
					<aside class="widget widget_search">
						<form role="search" method="get" class="search-form" action="http://modeltheme.com/mt_quintus/">
							<label>
								<span class="screen-reader-text">Search for:</span>
								<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
							</label>
							<input type="submit" class="search-submit" value="Search" />
						</form>
					</aside>		
					<aside class="widget widget_recent_entries">		
						<h1 class="widget-title">Recent Posts</h1>
						<ul>
							<li>
								<a href="#">New Wellhead Design Speeds Up Operations</a>
							</li>
							<li>
								<a href="#">Corrosion—The Longest War</a>
							</li>
							<li>
								<a href="#">Movability Quicklook for Heavy Oils</a>
							</li>
							<li>
								<a href="#">4 Surprisingly Simple Ways to Cut Your Energy Costs Today</a>
							</li>
							<li>
								<a href="#">When Opportunity Knocks</a>
							</li>
						</ul>
					</aside>		
					<aside class="widget widget_recent_comments">
						<h1 class="widget-title">Recent Comments</h1>
						<ul id="recentcomments">
							<li class="recentcomments">
								<span class="comment-author-link">Cristian Stan</span>
								<a href="#">Engineering smart factories of the future</a>
							</li>
							<li class="recentcomments">
								<span class="comment-author-link">Cristian Stan</span> 
								<a href="#">Making an Industrial Powerhouse Again</a>
							</li>
							<li class="recentcomments">
								<span class="comment-author-link">Cristian Stan</span>
								<a href="#">Will Robots Take Over Chinas Factories?</a>
							</li>
							<li class="recentcomments">
								<span class="comment-author-link">Cristian Stan</span>
								<a href="#">The Bright Side of Patents</a>
							</li>
							<li class="recentcomments">
								<span class="comment-author-link">Cristian Stan</span>
								<a href="#">Temperature Measurement for the Automotive Industry</a>
							</li>
						</ul>
					</aside>
					<aside class="widget widget_archive">
						<h1 class="widget-title">Archives</h1>		
						<ul>
							<li>
								<a href='#'>March 2016</a>
							</li>
							<li>
								<a href='#'>February 2016</a>
							</li>
							<li>
								<a href='#'>January 2016</a>
							</li>
						</ul>
					</aside>
					<aside class="widget widget_categories">
						<h1 class="widget-title">Categories</h1>		
						<ul>
							<li class="cat-item cat-item-69">
								<a href="#" >Industrial</a>
							</li>
						</ul>
					</aside>
					<aside class="widget widget_meta">
						<h1 class="widget-title">Meta</h1>			
						<ul>
							<li>
								<a href="#">Log in</a>
							</li>
							<li>
								<a href="#"> Entries 
									<abbr title="Really Simple Syndication"> RSS</abbr>
								</a>
							</li>
							<li>
								<a href="#"> Comments 
									<abbr title="Really Simple Syndication"> RSS</abbr>
								</a>
							</li>
							<li>
								<a href="#" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a>
							</li>			
						</ul>
					</aside>                    
				</div>
            </div>
        </div>
    </div>


    <!-- PAGE -->
	<div id="page" class="hfeed site row">

    	<!-- HEADER -->
	<header class="header1">
		<div class="container logo-infos">
			<div class="row">
				<div class="navbar-header col-md-3">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1 class="logo">
						<a href="index.html">
							<img src="{% static 'images/logoquintus.png' %}" alt="Quintus" />
						</a>
					</h1>
				</div>
				<div class="col-md-9">
					<div class="header-infos">
						<div class="pull-left header-info-group">
							<div class="header-info-icon pull-left text-center">
								<i class="fa fa-clock-o"></i>
							</div>
							<div class="header-info-labels pull-left">
								<p>Work Time: Mon - Sat: 8 Am - 5 PM</p>
								<div class="clearfix"></div>
								<p>Saturday and Sunday - CLOSED</p>
							</div>
						</div>
						<div class="pull-left header-info-group">
							<div class="header-info-icon pull-left text-center">
								<i class="fa-solid fa-phone-volume"></i>
							</div>
							<div class="header-info-labels pull-left">
								<p>Phone: +07 554 442 322</p>
								<div class="clearfix"></div>
								<p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b8dbd7d6ccd9dbccf8ddc0d9d5c8d4dd96dbd7d5">[email&#160;protected]</a></p>
							</div>
						</div>
						<div class="pull-left header-info-group">
							<div class="header-info-icon pull-left text-center">
								<i class="fa fa-map-marker"></i>
							</div>
							<div class="header-info-labels pull-left">
								<p>New York</p>
								<div class="clearfix"></div>
								<p>221 Avenue Street</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default" id="modeltheme-main-head">
			<div class="container">
				<div class="row">
					<div id="navbar" class="navbar-collapse collapse col-md-12">
						<div class="menu-01-main-menu-container">
							<ul id="menu-01-main-menu" class="menu">
								<li class="menu-item menu-item-home current-menu-item page_item current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor ">
									<a href="{% url 'website:index' %}">Home</a>
								</li>
								<li class="menu-item">
									<a href="{% url 'blog:home' %}">Blog</a>
								</li>
								<li class="menu-item">
									<a href="{% url 'website:about' %}">About</a>
								</li>
								<li class="menu-item">
									<a href="{% url 'website:contact' %}">Contact</a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								<li class="menu-item">
									<a></a>
								</li>
								
								{% if request.user.is_authenticated %}
								<li class="menu-item">
									<p style="color: rgb(255, 102, 0);">Logged in as {{request.user.username}}</p>
								</li>
								<li class="menu-item">
									<a href="{% url 'accounts:logout' %}">Log out</a>
								</li>
								{% else %}
								<li class="menu-item">
									<a href="{% url 'accounts:signup' %}">Sign up</a>
								</li>
								<li class="menu-item">
									<a href="{% url 'accounts:login' %}">Log in</a>
								</li>
								{% endif %}
							</ul>
						</div>
						<!-- <div class="header-nav-actions">

							<div id="mt-nav-burger">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<a href="#" class="mt-search-icon">
								<i class="fa fa-search" aria-hidden="true">Log in</i>
							</a>      
						</div> -->
					</div>
				</div>
			</div>
		</nav>
		<style>
			.popup { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }
			.popup-content { position: relative; margin: 15% auto; padding: 20px; width: 80%; max-width: 600px; background: white; border-radius: 5px; }
			.popup-close { position: absolute; top: 10px; right: 20px; cursor: pointer; }
		</style>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				const popup = document.getElementById('popup');
				const closeBtn = document.querySelector('.popup-close');
	
				if (popup.querySelector('.messages li')) {
					popup.style.display = 'block';
				}
	
				closeBtn.addEventListener('click', function() {
					popup.style.display = 'none';
				});
	
				window.addEventListener('click', function(event) {
					if (event.target == popup) {
						popup.style.display = 'none';
					}
				});
			});
		</script>
	</header>

    {% block content %}{% endblock %}

    <!-- FOOTER -->
    <footer>
        <div class="row footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt_margin_top_20">
                        <ul class="social-links">
                            <li>
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa-brands fa-skype"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa-brands fa-instagram"></i>
								</a>
							</li>
							
						</ul>
                    </div>
                    <div class="col-md-6 text-right mt_margin_top_20">
                        <p class="copyright">Copyright 2017 by ModelTheme. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>


<!-- PAGE PRELOADER -->
<div class="quintuswp_preloader_holder v19_line_scale_pulse_out">
	<div class="quintuswp_preloader v19_line_scale_pulse_out">
		<div class="loaders">
			<div class="loader">
				<div class="loader-inner line-scale-pulse-out">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
	</div>
</div>


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
{% compress js %}
<script type='text/javascript' src="{% static 'js/jquery.form.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/modernizr.custom.js' %}"></script>
<script type='text/javascript' src="{% static 'js/classie.js' %}"></script>
<script type='text/javascript' src="{% static 'js/bootstrap.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/mt-plugins.js' %}"></script>
<script type='text/javascript' src="{% static 'js/modeltheme-custom.js' %}"></script>
<script type='text/javascript' src="{% static 'js/quintuswp-plugins.js' %}"></script>
<script type='text/javascript' src="{% static 'js/wow.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/loaders.css.js' %}"></script>
<script type='text/javascript' src="{% static 'js/quintuswp-custom.js' %}"></script>
<script type='text/javascript' src="{% static 'js/js_composer_front.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/lightbox.js' %}"></script>
<script type='text/javascript' src="{% static 'js/script-min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/fontawesome.min.js' %}"></script>
{% endcompress %}

</body>
</html>